<h3 class="resume-title">
  <span>Educación</span>
  <app-crud-buttons 
    [isHovered]="isHovered" 
    [isLoginOK]="isLoginOK" 
    class="app-crud-buttons-container" 
    [showDeleteButton]="false" 
    [showEditButton]="false" 
    [componentType]="componentType">
  </app-crud-buttons>
</h3>

<div class="resume-item" *ngFor="let c of carrera">
  <div class="course-info">
    <h4>{{c.nombre}}</h4>
    <app-crud-buttons 
      [isHovered]="isHovered" 
      [isLoginOK]="isLoginOK" 
      class="app-crud-buttons-container" 
      [showAddButton]="false" 
      [componentType]="componentType" 
      [id]="c.id"
      [entity]="c"> <!-- Manejar el evento -->
    </app-crud-buttons>
  </div>
  <div class="date-frame">
    <h5>
      {{c.inicio | date:'yyyy'}} - 
      {{c.fin == null ? 'En curso' : c.finalizado ? (c.fin | date:'yyyy') + ' (Completada)' : (c.fin | date:'yyyy') + ' (Abandonada)'}}
    </h5>
  </div>
  <p><em>{{c.facultad}}</em></p>
  <ul>
    <li *ngFor="let e of c.descripcion.split('\n')">{{e}}</li>
  </ul>
</div>
