<!-- ======= Header ======= -->
<header id="header" [ngClass]="content ? 'header-top' : ''" >
  <div class="container">

    <h1><a href="index.html">Mauro Molina</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
    <h2>Soy <span>full-stack developer</span> de Mendoza</h2>
    <br>
    <app-navbar></app-navbar>

    <div class="social-links">
      <a href="https://www.facebook.com/mauro.molina.372/" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/mauromolina.20/" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/in/mauro-molina-41871520a/" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

  </div>
</header><!-- End Header -->
