<h3 class="resume-title">Experiencia Profesional</h3>
<div class="resume-item">
  <h4>Junior Software Developer</h4>
  <h5>2021 - Actualidad</h5>
  <p><em>Quinto Impacto - Mendoza, Argentina</em></p>
  <p>
  <ul>
    <li>
      He aprendido y aplicado conocimientos sobre desarrollo de software, patrones de arquitectura y patrones de diseño.
    </li>
    <li>
      Obtuve conocimientos sobre las buenas prácticas en la industria y diseñado los requerimientos guiandome por ello.
    </li>
    <li>
      Actualmente dirijo un equipo de desarrollo que mantiene una parte del software de BYMA (Bolsas Y Mercados Argentinos).
    </li>
    <li>
      Integro un equipo que se engarga de hacer e implementar una re-ingeniería de software a una parte del software de BYMA.
    </li>
  </ul>
</div>
