.resume-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resume-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-info h4 {
    margin-right: 10px;
}

.app-crud-buttons-container {
    margin-left: auto;
}