<div class="about-me container">

  <div class="section-title">
    <h2>Sobre mi</h2>
    <p>Aprende mas sobre mi</p>
  </div>

  <div class="row">
    <div class="col-lg-4" data-aos="fade-right">
      <img src="../../../../assets/img/me.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
      <h3>Full Stack Developer</h3>
      <p class="fst-italic">
        Desarrollador de software creativo, con conocimientos de algoritmia y arquitectura de software avanzados.
      </p>
      <div class="row">
        <div class="col-lg-6">
          <ul>
            <li><i class="bi bi-chevron-right"></i> <strong>Nacimiento:</strong> <span>{{aboutMe?.nacimiento | date: 'mediumDate'}}</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Telefono:</strong> <span>{{aboutMe?.telefono}}</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>Mendoza, Argentina - {{aboutMe?.domicilio}}</span></li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul>
            <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>{{aboutMe?.edad}}</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Grado:</strong> <span>Estudiante Avanzado</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{aboutMe?.email}}</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
          </ul>
        </div>
      </div>
      <p>
        {{aboutMe?.descripcion}}
        <!--Perseverante, enfocado, empático, muy responsable y puntual, con capacidad para trabajo grupal e individual, siempre en busca de nuevos aprendizajes y crecimiento, personal y profesional. Poseo fácil adaptación y tolerancia ante las diversas situaciones que se presenten, además de un trato cálido y respetuoso con el prójimo. Fácil adaptación a nuevos lenguajes y paradigmas de programación.-->
      </p>
    </div>
  </div>

</div><!-- End About Me -->
