<form [formGroup]="testimonialForm" (ngSubmit)="onSubmit()" class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="p-field">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" formControlName="nombre" class="form-control" />
                <small *ngIf="testimonialForm.get('nombre').hasError('required')" class="p-error">Debe indicar el
                    nombre<br></small>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-field">
                <label for="urlFoto">URL de la Foto</label>
                <input id="urlFoto" type="text" formControlName="urlFoto" class="form-control" />
                <small *ngIf="testimonialForm.get('urlFoto').hasError('required')" class="p-error">Debe ingresar la URL
                    de la foto<br></small>
                <small *ngIf="testimonialForm.get('urlFoto').hasError('pattern')" class="p-error">Debe ingresar una URL
                    valida (ftp, http, https)<br></small>
            </div>
        </div>
        <div class="col-md-12">
            <div class="p-field">
                <label for="descripcion">Descripcion</label>
                <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
                <small *ngIf="testimonialForm.get('descripcion').hasError('required')" class="p-error">Debe agregar una
                    descripcion<br></small>
                <small *ngIf="testimonialForm.get('descripcion').hasError('minlength')" class="p-error">La descripcion
                    debe tener al menos 1 caracter<br></small>
                <small *ngIf="testimonialForm.get('descripcion').hasError('maxlength')" class="p-error">La descripcion
                    no puede tener más de 500 caracteres<br></small>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-field">
                <label for="puesto">Puesto</label>
                <input id="puesto" type="text" formControlName="puesto" class="form-control" />
                <small *ngIf="testimonialForm.get('puesto').hasError('required')" class="p-error">Debe indicar el
                    puesto<br></small>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="p-field modal-buttons d-flex justify-content-center">
            <button type="submit" [disabled]="!puedeGuardar()" class="btn btn-outline-warning">Guardar</button>
        </div>
    </div>

</form>