<h3 class="resume-title">Sumario</h3>
<div class="resume-item pb-0">
  <h4>Alice Barkley</h4>
  <p><em>
    Innovador y creativo desarrollador de software con gran ambición por aprender cada vez más sobre lo que me apasiona.
    Cuento con un año de experiencia dentro de la industria, pero me dedico a la programación hace 8 años (desde la escuela secundaria).
    </em></p>
  <p>
  <ul>
    <li>Guaymallen, Mendoza, Argentina</li>
    <li>(+54) 261-6654375</li>
    <li>molinamauro12@gmail.com</li>
  </ul>
</div>
