/* Estilos para el botón custom-button con mayor especificidad */
div.custom-button.p-button .p-button-label {
  background-color: transparent !important; /* Fondo transparente */
  border: none !important; /* Sin borde */
  color: #fff !important; /* Color del icono en blanco */
  font-size: 12px; /* Nuevo tamaño de fuente */
  padding: 4px 8px; /* Nuevo relleno */
}

div.custom-button.p-button:hover .p-button-label {
  background-color: #35e888 !important; /* Cambio de color al pasar el ratón */
}

div.custom-button.p-button:active .p-button-label {
  background-color: #35e888 !important; /* Color al hacer clic */
}

div.custom-button.p-button:disabled .p-button-label {
  background-color: transparent !important;
  color: #ccc !important;
}

/* Cambio de color del icono al pasar el ratón */
div.custom-button.p-button:hover .p-button-label .pi,
div.custom-button.p-button:hover .p-button-label .pi:after {
  color: #fff !important;
}

div.custom-button.p-button:disabled .p-button-label .pi,
div.custom-button.p-button:active .p-button-label .pi {
  color: #ccc !important;
}
