<form [formGroup]="cursoForm" (ngSubmit)="onSubmit()" class="container">
  <div class="row">
    <!-- Nombre del curso y URL del certificado en la misma fila -->
    <div class="col-md-6">
      <div class="p-field">
        <label for="nombre">Nombre del curso</label>
        <input id="nombre" type="text" formControlName="nombre" class="form-control" />
        <small *ngIf="cursoForm.get('nombre').hasError('required')" class="p-error">Debe indicar el nombre del curso</small>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-field">
        <label for="certificado">URL del certificado</label>
        <input id="certificado" type="text" formControlName="certificado" class="form-control" />
        <small *ngIf="cursoForm.get('certificado').hasError('required')" class="p-error">Debe ingresar la URL del certificado</small>
        <small *ngIf="cursoForm.get('certificado').hasError('pattern')" class="p-error">Debe ingresar una URL valida</small>
      </div>
    </div>

    <!-- Descripción del curso -->
    <div class="col-md-12">
      <div class="p-field">
        <label for="descripcion">Descripcion</label>
        <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
        <small *ngIf="cursoForm.get('descripcion').hasError('required')" class="p-error">Debe agregar una descripcion</small>
        <small *ngIf="cursoForm.get('descripcion').hasError('minlength')" class="p-error">La descripcion debe tener al menos 1 caracter</small>
        <small *ngIf="cursoForm.get('descripcion').hasError('maxlength')" class="p-error">La descripcion no puede tener más de 500 caracteres</small>
      </div>
    </div>

    <!-- Fechas de inicio y fin -->
    <div class="col-md-6">
      <div class="p-field">
        <label for="inicio">Fecha de inicio</label>
        <input id="inicio" type="date" formControlName="inicio" class="form-control" [max]="maxFechaHoy" />
        <small *ngIf="cursoForm.get('inicio').hasError('required')" class="p-error">Debe indicar la fecha de inicio</small>
        <small *ngIf="cursoForm.get('inicio').hasError('pastOrPresent')" class="p-error">La fecha de inicio debe ser anterior o igual a hoy</small>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-field">
        <label for="fin">Fecha de fin</label>
        <input id="fin" type="date" formControlName="fin" class="form-control" [min]="cursoForm.get('inicio').value" />
        <small *ngIf="cursoForm.get('fin').hasError('required')" class="p-error">Debe indicar la fecha de fin</small>
        <small *ngIf="cursoForm.get('fin').hasError('endDateInvalid')" class="p-error">La fecha de fin no puede ser posterior a hoy si el curso esta finalizado</small>
        <small *ngIf="cursoForm.get('fin').hasError('endDateNotAllowed')" class="p-error">La fecha de fin no esta permitida si el curso no esta finalizado</small>
        <small *ngIf="cursoForm.get('fin').hasError('endDateBeforeStartDate')" class="p-error">La fecha de fin no puede ser anterior a la fecha de inicio</small>
      </div>
    </div>

    <!-- Checkbox de Finalizado en una fila -->
    <div class="col-md-6">
      <div class="p-field">
        <label for="finalizado">Finalizado</label>
        <input id="finalizado" type="checkbox" formControlName="finalizado" class="form-check-input" />
        <small *ngIf="cursoForm.get('finalizado').value && cursoForm.get('fin').hasError('endDateInvalid')" class="p-error">La fecha de fin no puede ser posterior a hoy si el curso esta finalizado</small>
      </div>
    </div>

    <!-- Botón de Guardar en una fila -->
    <div class="col-md-12">
      <div class="p-field">
        <button type="submit" pButton [disabled]="!puedeGuardar()" class="btn btn-outline-warning">Guardar</button>
      </div>
    </div>
  </div>
</form>
