<form [formGroup]="experienceForm" (ngSubmit)="onSubmit()" class="container">
    <div class="row">
      <!-- Empresa -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="empresa">Empresa</label>
          <input id="empresa" type="text" formControlName="empresa" class="form-control" />
          <small *ngIf="experienceForm.get('empresa').hasError('required')" class="text-danger">Empresa no debe ser nula</small>
          <small *ngIf="experienceForm.get('empresa').hasError('minlength')" class="text-danger">Empresa debe tener al menos 1 caracter</small>
          <small *ngIf="experienceForm.get('empresa').hasError('maxlength')" class="text-danger">Empresa debe tener como máximo 45 caracteres</small>
        </div>
      </div>
      <!-- Puesto -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="puesto">Puesto</label>
          <input id="puesto" type="text" formControlName="puesto" class="form-control" />
          <small *ngIf="experienceForm.get('puesto').hasError('required')" class="text-danger">Puesto no debe ser nulo</small>
          <small *ngIf="experienceForm.get('puesto').hasError('minlength')" class="text-danger">Puesto debe tener al menos 1 caracter</small>
          <small *ngIf="experienceForm.get('puesto').hasError('maxlength')" class="text-danger">Puesto debe tener como máximo 45 caracteres</small>
        </div>
      </div>
      <!-- Descripción -->
      <div class="col-md-12">
        <div class="form-group">
          <label for="descripcion">Descripcion</label>
          <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
          <small *ngIf="experienceForm.get('descripcion').hasError('required')" class="text-danger">Descripcion no debe ser nula</small>
          <small *ngIf="experienceForm.get('descripcion').hasError('minlength')" class="text-danger">Descripcion debe tener al menos 1 caracter</small>
          <small *ngIf="experienceForm.get('descripcion').hasError('maxlength')" class="text-danger">Descripcion debe tener como máximo 500 caracteres</small>
        </div>
      </div>
      <!-- Fecha de inicio -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="inicio">Fecha de inicio</label>
          <input id="inicio" type="date" formControlName="inicio" class="form-control" [max]="maxFechaHoy" />
          <small *ngIf="experienceForm.get('inicio').hasError('required')" class="text-danger">Debe indicar la fecha de inicio</small>
        </div>
      </div>
      <!-- Fecha de fin -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="fin">Fecha de fin</label>
          <input id="fin" type="date" formControlName="fin" class="form-control" [max]="maxFechaHoy" />
          <small *ngIf="experienceForm.get('fin').hasError('required')" class="text-danger">Debe indicar la fecha de fin</small>
        </div>
      </div>
      <!-- Actual -->
      <div class="col-md-6">
        <div class="form-group form-check">
          <input id="actual" type="checkbox" formControlName="actual" class="form-check-input" />
          <label for="actual" class="form-check-label">Actual</label>
        </div>
      </div>
      <!-- Submit -->
      <div class="col-md-12">
        <button type="submit" class="btn btn-outline-warning">Guardar</button>
      </div>
    </div>
  </form>
  