<!-- ======= Skills ======= -->
<div class="interests container">

  <div class="section-title">
    <h2>Habilidades</h2>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="icon-box">
        <i class="ri-html5-line" style="color: #ffbb2c;"></i>
        <h3>HTML 5</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
      <div class="icon-box">
        <i class="ri-css3-line" style="color: #5578ff;"></i>
        <h3>CSS 3</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
      <div class="icon-box">
        <i class="ri-angularjs-line" style="color: #e80368;"></i>
        <h3>Angular</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
      <div class="icon-box">
        <i class="ri-github-line" style="color: #e361ff;"></i>
        <h3>GIT</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4">
      <div class="icon-box">
        <i class="ri-database-2-line" style="color: #47aeff;"></i>
        <h3>SQL</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4">
      <div class="icon-box">
        <i class="devicons devicons-java" style="color: #ffa76e;"></i>
        <h3>JAVA</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4">
      <div class="icon-box">
        <i class="devicons devicons-python" style="color: #11dbcf;"></i>
        <h3>Python</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4">
      <div class="icon-box">
        <i class="devicons devicons-php \e63d" style="color: #4233ff;"></i>
        <h3>PHP</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4">
      <div class="icon-box">
        <i class="devicons devicons-javascript" style="color: #b2904f;"></i>
        <h3>JavaScript</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4">
      <div class="icon-box">
        <!--<span class="iconify" ></span>-->
        <i class="devicon-spring-plain" style="color: #b20969;"></i>
        <h3>Spring</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4">
      <div class="icon-box">
        <i class="devicon-c-plain colored"></i>
        <h3>C/C++</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4">
      <div class="icon-box">
        <i class="devicon-oracle-original colored"></i>
        <h3>Oracle</h3>
      </div>
    </div>
  </div>

</div><!-- End Skills -->
