<form [formGroup]="cursoForm" (ngSubmit)="onSubmit()" class="container">
  <div class="row">
    <!-- Nombre del curso y URL del certificado en la misma fila -->
    <div class="col-md-6">
      <div class="p-field">
        <label for="nombre">Nombre del curso</label>
        <input id="nombre" type="text" formControlName="nombre" class="form-control" />
        <small *ngIf="cursoForm.get('nombre').hasError('required')" class="p-error">Debe indicar el nombre del curso<br></small>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-field">
        <label for="certificadoURL">URL del certificado</label>
        <input id="certificadoURL" type="text" formControlName="certificadoURL" class="form-control" />
        <small *ngIf="cursoForm.get('certificadoURL').hasError('required')" class="p-error">Debe ingresar la URL del certificado si el curso esta finalizado<br></small>
        <small *ngIf="cursoForm.get('certificadoURL').hasError('pattern')" class="p-error">Debe ingresar una URL valida<br></small>
      </div>
    </div>

    <!-- Descripción del curso -->
    <div class="col-md-12">
      <div class="p-field">
        <label for="descripcion">Descripcion</label>
        <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
        <small *ngIf="cursoForm.get('descripcion').hasError('required')" class="p-error">Debe agregar una descripcion<br></small>
        <small *ngIf="cursoForm.get('descripcion').hasError('minlength')" class="p-error">La descripcion debe tener al menos 1 caracter<br></small>
        <small *ngIf="cursoForm.get('descripcion').hasError('maxlength')" class="p-error">La descripcion no puede tener más de 500 caracteres<br></small>
      </div>
    </div>

    <!-- Fechas de inicio y fin -->
    <div class="col-md-6">
      <div class="p-field">
        <label for="inicio">Fecha de inicio</label>
        <input id="inicio" type="date" formControlName="inicio" class="form-control" [max]="maxFechaHoy" />
        <small *ngIf="cursoForm.get('inicio').hasError('required')" class="p-error">Debe indicar la fecha de inicio<br></small>
        <small *ngIf="cursoForm.get('inicio').hasError('pastOrPresent')" class="p-error">La fecha de inicio debe ser anterior o igual a hoy<br></small>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-field">
        <label for="fin">Fecha de fin</label>
        <input id="fin" type="date" formControlName="fin" class="form-control" [min]="cursoForm.get('inicio').value" />
        <small *ngIf="cursoForm.get('fin').hasError('required')" class="p-error">Debe indicar la fecha de fin<br></small>
        <small *ngIf="cursoForm.get('fin').hasError('endDateInvalid')" class="p-error">La fecha de fin no puede ser posterior a hoy si el curso esta finalizado<br></small>
        <small *ngIf="cursoForm.get('fin').hasError('endDateNotAllowed')" class="p-error">La fecha de fin no está permitida si el curso no está finalizado<br></small>
      </div>
    </div>

    <!-- Checkbox de Finalizado en una fila -->
    <div class="col-md-6">
      <div class="p-field">
        <label for="finalizado">Finalizado</label>
        <input id="finalizado" type="checkbox" formControlName="finalizado" class="form-check-input" />
        <small *ngIf="cursoForm.get('finalizado').value && cursoForm.get('fin').hasError('endDateInvalid')" class="p-error">La fecha de fin no puede ser posterior a hoy si el curso está finalizado<br></small>
      </div>
    </div>

    <!-- Botón de Guardar en una fila -->
    <br>
    <div class="col-md-12">
      <div class="p-field modal-buttons d-flex justify-content-center">
        <button type="submit" pButton [disabled]="!puedeGuardar()" class="btn btn-outline-primary">Guardar</button>
      </div>
    </div>
  </div>
</form>
