<form [formGroup]="estudioForm" (ngSubmit)="guardarEstudio()" class="container">
  <div class="row">
    <!-- Nombre de la carrera y Nombre de la institución en la misma fila -->
    <div class="col-md-6">
      <div class="p-field">
        <label for="nombre">Nombre de la carrera</label>
        <input id="nombre" type="text" pInputText formControlName="nombre" class="form-control" />
        <small *ngIf="estudioForm.get('nombre').hasError('required')" class="p-error">Debe indicar el nombre de la
          carrera<br></small>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-field">
        <label for="facultad">Nombre de la institución</label>
        <input id="facultad" type="text" pInputText formControlName="facultad" class="form-control" />
        <small *ngIf="estudioForm.get('facultad').hasError('required')" class="p-error">Debe indicar el nombre de la
          institución<br></small>
      </div>
    </div>

    <!-- Descripción en una fila -->
    <div class="col-md-12">
      <div class="p-field">
        <label for="descripcion">Descripcion</label>
        <textarea id="descripcion" pInputTextarea formControlName="descripcion" class="form-control"></textarea>
        <small *ngIf="estudioForm.get('descripcion').hasError('required')" class="p-error">Debe agregar una
          descripcion<br></small>
        <small *ngIf="estudioForm.get('descripcion').hasError('minlength')" class="p-error">La descripcion debe tener al
          menos 1 caracter<br></small>
        <small *ngIf="estudioForm.get('descripcion').hasError('maxlength')" class="p-error">La descripcion no puede
          tener más de 500 caracteres<br></small>
      </div>
    </div>

    <div class="col-md-6">
      <div class="p-field">
        <label for="inicio">Fecha de inicio</label>
        <input id="inicio" type="date" pInputText formControlName="inicio" [max]="maxFechaInicio"
          class="form-control" />
        <small *ngIf="estudioForm.get('inicio').hasError('required')" class="p-error">Debe indicar la fecha de
          inicio<br></small>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-field">
        <label for="fin">Fecha de fin</label>
        <input id="fin" type="date" pInputText formControlName="fin" class="form-control" [max]="maxFechaHoy"
          [min]="estudioForm.get('inicio').value" />
        <div *ngIf="estudioForm.get('fin').hasError('fechasIncorrectas')" class="p-error">
          La fecha de fin debe ser posterior o igual a la de inicio<br>
        </div>
        <div
          *ngIf="estudioForm.get('fin').hasError('fechasIncorrectasFinalizado') && estudioForm.get('finalizado').value"
          class="p-error">
          La fecha de fin no puede ser posterior a la de hoy si el estudio está finalizado<br>
        </div>
      </div>
    </div>



    <!-- Checkbox de Finalizado en una fila -->
    <div class="col-md-6">
      <div class="p-field">
        <label for="finalizado">Finalizado</label>
        <p-checkbox id="finalizado" formControlName="finalizado" class="p-checkbox" name="finalizado"
          [binary]="true"></p-checkbox>
        <small
          *ngIf="estudioForm.get('fin').hasError('fechasIncorrectasFinalizado') && estudioForm.get('finalizado').value"
          class="p-error">
          La fecha de fin no puede ser posterior a la de hoy si el estudio está finalizado<br>
        </small>
      </div>
    </div>



    <!-- Botón de Guardar en una fila -->
    <br>
    <div class="col-md-12">
      <div class="p-field modal-buttons d-flex justify-content-center">
        <button type="submit" pButton label="Guardar" [disabled]="!puedeGuardar()" class="btn btn-outline-primary"></button>
      </div>
    </div>

  </div>
</form>