<!-- app.component.html -->
<div>
  <form [formGroup]="estudioForm" (ngSubmit)="onSubmit()">
    <label for="id">ID del curso:</label>
    <input type="number" id="id" formControlName="id" />

    <label for="nombre">Nombre del curso:</label>
    <input type="text" id="nombre" formControlName="nombre" />

    <label for="facultad">Nombre de la institución:</label>
    <input type="text" id="facultad" formControlName="facultad" />

    <label for="descripcion">Descripción del curso:</label>
    <textarea id="descripcion" formControlName="descripcion"></textarea>

    <label for="inicio">Fecha de inicio:</label>
    <p-calendar id="inicio" formControlName="inicio"></p-calendar>

    <label for="fin">Fecha de fin:</label>
    <p-calendar id="fin" formControlName="fin"></p-calendar>

    <label for="finalizado">Curso finalizado:</label>
    <p-checkbox id="finalizado" formControlName="finalizado"></p-checkbox>

    <button type="submit" pButton label="Guardar"></button>
  </form>
</div>