<!-- ======= Resume Section ======= -->
<section id="resume" [ngClass]="showClass ? 'resume section-show' : 'resume'" >
  <div class="container">

    <div class="section-title">
      <h2>Resumen</h2>
      <p>Sumario y Resumen</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <app-summary></app-summary>
        <app-experience></app-experience>
      </div>


      <div class="col-lg-6">
        <app-education></app-education>
      </div>
    </div>
  </div>
</section><!-- End Resume Section -->
